  <div id="homecontent">
    <div class="logo">
      <%= image_tag "big_logo.png" %>
    </div>

    <div class="motto">
      Quelques (millions de) bonnes idées.
    </div>

    <div class="interact">
      <%= link_to "Se Connecter", login_path() %>
      <%= link_to "Rejoindre Punaise", register_path() %>
    </div>

    <div class="annotations">
      <ul>
        <li><a href="">A propos de Punaise</a></li>
        <li><a href="">Conditions/Confidentialités</a></li>
      </ul>
    </div>
  </div>