/**********************************************************
/ principal
***********************************************************/

$principalcolor: #FF0048;
$secondarycolor: #FFF7F7;



// Popups
$popup_bg_color: #FF0048;
$popup_n_text_color: #fff;

// auxiliars elements
$freshness: #81D7CD;