@import "colors";
@import "mixins";

#modal-share-pun {
	width: 650px;

	margin: 0 auto;

	text-align: center;


	.forms {
		width: 650px;

		margin: 0 auto;
		margin-top: 15px;
		padding: 0px;

		input, select{
			@include formstyle(325px);

		}


		textarea {
			@include formstyle(300px);

		}

		.left {
			width: 430px;

			display: inline-block;
			text-align: left;

			.field {
				padding-top: 15px;
				padding-bottom: 15px;

				.label {
					width: 80px;

					display: inline-block;
					vertical-align: top;
				}

				.input {
					width: 290px;

					display: inline-block;
					vertical-align: top;

					input {
						margin-top: 15px;
					}

					textarea {
						height: 100px;
					}

				}				
			}


		}

		.right {
			margin-top: 15px;
			
			width: 200px;

			display: inline-block;
			vertical-align: top;

			.rightshow {
				.shared-pun {
					width: 200px;
					height: 200px;
					margin: 0 auto;

					//border: 1px solid #A7AAAA;
					//border-radius: 3px;

					//box-shadow: 0 0 5px #A7AAAA;

					text-align: center;

					img {
						border-radius: 3px;
						border: 1px solid #A7AAAA;

						box-shadow: 0 0 5px #A7AAAA;
					}					
				}

				
			}
		}

		#actions {
			margin-top: 5px;

			text-align: right;

		input {
				-webkit-font-smoothing: antialiased;
				vertical-align: middle;

			    width: 120px;


				box-shadow: 0 1px 0 0 rgba(255,255,255,0.34);
				background-color: #FF0048;

				border-radius: 3px;
				border: 0px;

			    color: #fff;
				text-shadow: 0 -1px rgba(0,0,0,0.11);
				text-decoration: none;
				line-height: 20px;
				font-family:"Enriqueta";
				font-weight: bold;
				font-size: 18px;

				&:hover {
					box-shadow: 0 1px 0 0 rgba(255,255,255,0.34);
					box-shadow: 0 0 10px #A7AAAA;
					background-color: #B13756;

					color: #fff;
				}			
		}
		}
	}


}


#new-punaise-modal {

	font-family: "OpenSansLight";
	font-size: 20px;

	input,select, textarea {
		width: 300px;

		line-height: 25px;

		padding-left: 10px;
		margin-bottom: 10px;

		background: linear-gradient(#f0f0f0,#f5f5f5);
		border-radius: 3px;
		box-shadow: 0 0 3px rgba(0,0,0,0.12) inset;
		box-sizing: border-box;
		width: 100%;
		border: 1px solid #d6d3ce;
		color: #333;
		font-size: 14px;
		padding: 7px;
	}

	select {
		height: 40px;
	}

	textarea {
		height: 70px;
	}

	.left {
		width: 300px;

		display: inline-block;

		.field {

			margin-bottom: 10px;

			border-bottom: 1px solid #A7AAAA;
		}

	}

	.right {
		width: 300px;

		padding-left: 5px;

		display: inline-block;
		vertical-align: top;

		border-left: 1px solid #A7AAAA;

		.field {

			margin-bottom: 10px;

			border-bottom: 1px solid #A7AAAA;
		}

		.button {
			margin-bottom: 10px;

			border-bottom: 1px solid #A7AAAA;

			height: 50px;

			text-align: center;

			a {
				-webkit-font-smoothing: antialiased;
				vertical-align: middle;

			    padding: 7px;

			    background-color: #fff;

			    border-radius: 3px;

			    box-shadow: 0 0 3px #A7AAAA;

			    color: #333;
				text-shadow: 0 -1px rgba(0,0,0,0.11);
				text-decoration: none;
				line-height: 40px;
				font-family: Calibri;
				font-weight: bold;
				font-size: 16px;

				&:hover {
					background-image: linear-gradient(#e3262e,#ab171e);
					box-shadow: 0 1px 0 0 rgba(255,255,255,0.34);
					background-color: #ab171e;
					border: 1px solid;
					border-bottom-color: #820a0f;
					border-left-color: #9a1015;
					border-right-color: #9a1015;
					border-top-color: #af151b;

					color: #fff;
				}
			}
		}

	}

	#actions {
		input {
				-webkit-font-smoothing: antialiased;
				vertical-align: middle;

			    padding: 7px;

			    background-color: #fff;

			    border-radius: 3px;

			    box-shadow: 0 0 3px #A7AAAA;

			    color: #333;
				text-shadow: 0 -1px rgba(0,0,0,0.11);
				text-decoration: none;
				line-height: 40px;
				font-family:"Enriqueta";
				font-weight: bold;
				font-size: 28px;

				&:hover {
					background-image: linear-gradient(#e3262e,#ab171e);
					box-shadow: 0 1px 0 0 rgba(255,255,255,0.34);
					background-color: #ab171e;
					border: 1px solid;
					border-bottom-color: #820a0f;
					border-left-color: #9a1015;
					border-right-color: #9a1015;
					border-top-color: #af151b;

					color: #fff;
				}			
		}
	}
}



#modal-edit-pun {
	width: 700px;
	margin: 0px auto;
	padding: 0px;

	text-align: center;

	.left {
		max-width: 330px;

		margin: 0px;
		padding: 0px;
		
		text-align: left;

		display: inline-block;

		.field {
			margin: 10px;

			input, textarea {
				@include formstyle(250px);
			}

			textarea {
				height: 150px;
			}


			.lefty {
				text-align: left;

				margin: 10px;
			}

		}


	}

	.right {
		max-width: 330px;

		margin: 0px;
		padding: 0px;

		text-align: right;

		display: inline-block;
		vertical-align: top;

		.field, .board-list, .currency {
			margin: 10px;

			input, textarea, select {
				@include formstyle(250px);
			}

			textarea {
				height: 150px;
			}


			.righty {
				text-align: left;

				margin: 10px;
			}

		}



	}
}