                    <select id="pun_board_id" name="pun[board_id]" value="1">
                      	<% Board.order("name ASC").each do |board|  %>
                        <option value="<%= board.id %>"><%= board.name %> </option>
                      	<% end %>
                    </select>